[Unit]
Description=First Boot Setup
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /var/opt/dotfiles/post-install.sh

[Install]
WantedBy=multi-user.target
