[Unit]
Description=First Boot Setup
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/var/opt/post-install.sh

[Install]
WantedBy=multi-user.target
